body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background-image: url(../public/books.jpg);
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  position: fixed;
  top: 0px;
}